.operaPanel{ width: 100%; border-bottom: 0.25px solid rgba(0, 0, 0, 0.65); }
.movePoint{ position: relative; left: 0; top: 1; display: inline-block; width: 50px; }
.movePoint span{ position: relative; top: -0.06em; height: 0.9em; }